<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
<!--  <property name="LOG_FILE" value="/search/odin/epi/app/log/spring.log}"/>-->
  <property name="LOG_FILE" value="log/spring.log}"/>
<!--  <property name="LOG_FILE" value="/search/odin/dev_epi/app/log/spring.log}"/>-->

  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}.%d{yyMMdd}.%i.gz</fileNamePattern>
      <maxHistory>15</maxHistory>
      <maxFileSize>300MB</maxFileSize>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <root level="debug">
    <springProfile name="local,dev,staging,canary">
      <appender-ref ref="CONSOLE"/>
    </springProfile>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
